.pregunta1{
    background-color: aquamarine;
}
.content-div{
    border: 10px solid blanchedalmond;
}
.pregunta2{
    background-color: cornflowerblue;
}
.pregunta3{
    background-color: peru;
}
.pregunta4{
    color: brown;
}
.pregunta5{
    background-color: cyan;
}
.pregunta6{
    background-color: greenyellow;
}